label {
  white-space: nowrap; /* Prevents text from wrapping */
}

.flex-row {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}